.form{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 2rem;
}

.form div label{
    margin-bottom: 0.3rem;
    color: #858585;
}

.form .form__input{
    border: 1px solid #838383;
    border-radius: 4px;
    padding: 2px;
}

.error{
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}

.form__btn{
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
}