.navbar{
    width: 100%;
    padding: 0;
}

.navbar__content{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    background-color: #860090;
    color: white;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    place-items: flex-start;
    padding: 0.3rem 0;
    font-size: 1.5rem;
    z-index: 1;
}

.navbar__list{
    display: flex;
    align-items: center;
}

.navbar__list ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: flex-end;
}

.navbar__list ul li{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 4px;
    padding-top: 2px;
    border-radius: 4px;
}

.navbar__list ul li img{
    width: 30px;
}

.heading{
    margin: 0;
    padding: 0.25rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 2rem;
}

.logo{
    width: 20%;
}

.navbar__buttons{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 992px){
    .navbar__content{
        height: 140px;
        display: flex;
        flex-direction: column;
        padding: 0.25rem 0;
        gap: 0.5rem;
        font-size: 1.3rem;
    }
}